<html ng-app="myApp">
<head>
    <title>Kanban Board</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/index-style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <script src="../../js/application.js"></script>
</head>
<body style="background-color: #0079bf">
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid" style="background: linear-gradient(to right, #2731B4, #2790B4);">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="color:white">Kanban Board</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <span>FirstName LastName</span>
                        <a href="#" class="btn btn-primary btn-info">Default text here</a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                        <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>
            <div class="col-md-2" >
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                    <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>            
            <div class="col-md-2">
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                        <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>
            <div class="col-md-2" >
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                    <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                        <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>
            <div class="col-md-2" >
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                    <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>            
            <div class="col-md-2">
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                        <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>
            <div class="col-md-2" >
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                    <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>
                        <div class="col-md-2">
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                        <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>
            <div class="col-md-2" >
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                    <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>            
            <div class="col-md-2">
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                        <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>
            <div class="col-md-2" >
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                    <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>
                        <div class="col-md-2">
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                        <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>
            <div class="col-md-2" >
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                    <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>            
            <div class="col-md-2">
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                        <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>
            <div class="col-md-2" >
                <div>
                    <span>Project1</span>
                    <span class="lead-group">
                        <img src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" style="height: 23px;" alt="User"/>
                    <span>First name</span>
                    </span>
                    <br/>
                    <span class="glyphicon glyphicon-user users-number">340</span>
                    <span class="glyphicon glyphicon-tasks task-number">228</span>
                </div>
            </div>
            <div class="col-md-2" >
                <a data-toggle="modal" data-target="#new-project-maodal">
                    <div class="new-project"></div>
                </a>
            </div>            
        </div>
    </div>

        <div class="modal" id="new-project-maodal">
        <div class="modal-dialog" style="background-color: white">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">New project</h4>

            </div>
            <form ng-submit="login()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username" class="col-2 col-form-label">Name</label>
                        <div class="col-10">
                            <input class="form-control" type="text" name="username" id="username" ng-model="project.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-2 col-form-label">Lead</label>
                        <div class="col-10">
                            <input class="form-control" type="password" name="password" id="password" ng-model="cred.password">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="text" class="btn btn-block btn-primary" value="Create"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
